*{
  margin: 0;
  padding: 0;
}
html{
  min-height: 100%;
}
body{
  background: url('../public/bgHouse.jpg');
}
#menu{
  /* display: none; */
}
#maze{
  /* display: none; */

}
.maze{
  position: fixed;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  background-color: gold;
}
#boy{
  position: absolute;
  top: 0px;
  left: 0;
  width: 30px;
}
#ghost{
  position: absolute;
  top: 0px;
  left: 0;
  width: 30px;
}
#gameForm{
  box-sizing: border-box;
  display: none;
  /* height: 90%; */
  text-align: center;
  border: none;
  border-radius: 0;
  transform: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(165, 42, 42, 0.397);
  
}
canvas{
  /* height: 100%; */
  text-align: center;
  object-fit: cover;
  margin: auto;
}
h1 {
  /* font-family: 'Bigshot One', cursive;
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Henny Penny', cursive;
  font-family: 'Irish Grover', cursive; */
  /* font-family: 'Peralta', cursive;
  font-family: 'Pirata One', cursive;
  font-family: 'Rakkas', cursive;
  font-family: 'Rye', cursive;
  font-family: 'Skranji', cursive; */
  /* font-family: 'Marhey', cursive; */
  /* font-family: 'Pirata One', cursive; */
  font-family: 'Peralta', cursive;
  text-align: center;
  font-size: 100px;
  background: rgb(244,122,122);
  background: linear-gradient(126deg, rgba(244,122,122,1) 17%, rgba(247,155,42,1) 100%);
  background-clip: text;
  background-size: 200% 100%;
  color: rgba(0, 255, 255, 0);
  text-shadow: 0 0 70px rgba(73, 73, 73, 0.432);
  -webkit-text-stroke: 2px white;
  font-weight: normal;
  transform: rotate(3deg);
  transition: 0.4s;

}
h1:hover{
  transform: rotate(-3deg);
  background-position: right;
}

.wheel {
  width: calc(100% / 3);
  display: inline-block;
  background-image: url('../public/candy.png');
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* margin: 0 40px; */
  vertical-align: middle;
  position: relative;
  height: 300px;

}

.boy {
  width: calc((100% / 3));
  vertical-align: middle;
  /* padding: 0 35px; */
  filter: drop-shadow(0 0 10px black);
  max-height: 400px;
  object-fit: contain;

}

.ghost {
  width: calc((100% / 3));
  vertical-align: middle;
  filter: drop-shadow(0 0 10px black);
  max-height: 400px;
  object-fit: contain;




}

form {
  font-size: 0;
  display: block;
  width: 70%;
  margin: auto;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.178);
  /* filter: blur(5px); */
  padding: 40px;
  z-index: -2;
  vertical-align: middle;
  /* filter: blur(5px); */
  backdrop-filter: blur(4px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}

.arrow {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start{
  display: block;
  font-family: 'Peralta', cursive;
  border: 2px solid rgba(255, 255, 255, 0.514);
  border-radius: 5px;
  background: rgb(244,122,122);
  background: linear-gradient(126deg, rgba(244,122,122,1) 17%, rgba(247,155,42,1) 100%);
  padding: 10px 15px;
  margin: auto;
  font-size: 30px;
  box-shadow: 0 0 70px rgba(73, 73, 73, 0.897);
  color: white;
  background-size: 200% 100% ;
  transition: 0.4s;
  


}
.start:hover{
  background-position: right;
  border: 2px solid white;
}

.maze h2{
  font-size: 40px;
}
.maze h3{
  font-size: 30px;
}



.time{
  background-color: gold;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  transform: translateX(calc(-100% + 7px)) translateY(-50%) ;
  padding: 10px 20px;
  border: 8px solid black;

}
.menuHidden{
  transform: translateY(-200%);
}

#endForm{
  display: none;

  text-align: center;
  opacity: 0;
}
#endForm h2{
  font-size: 60px;
  text-align: center;
  text-shadow: 0 5px 10px rgb(160, 159, 159);
}
#endForm h3{
  margin-bottom: 40px;
  font-size: 40px;
}
#endForm img{
  width: 300px;
}
.endFormVisible{
  opacity: 1 !important;
}